
Bootcamps/C-Shap/Practicas/22062022S4/Ejercicio01/obj/Debug/net6.0/Ejercicio01.GeneratedMSBuildEditorConfig.editorconfig
Bootcamps/C-Shap/Practicas/22062022S4/Ejercicio01/obj/Debug/net6.0/Ejercicio01.GeneratedMSBuildEditorConfig.editorconfig
Bootcamps/C-Shap/Practicas/22062022S4/Ejercicio01/obj/Debug/net6.0/Ejercicio01.assets.cache
Bootcamps/C-Shap/Practicas/15062022S3/Ejercicio03/obj/Debug/net6.0/Ejercicio03.GeneratedMSBuildEditorConfig.editorconfig
